{% extends 'accounts/main.html '%}

{% block content %}

<style>
    .grade {
        text-decoration: none;
        padding: 5px;
        border-radius: 20%;
        color: black;
    }

    .grade-2 {
        background-color: #FF3131;
    }

    .grade-3 {
        background-color: #F7882F;
    }

    .grade-4 {
        background-color: #F7C331;
    }

    .grade-5 {
        background-color: #B8F731;
    }

    .grade-6 {
        background-color: #45F731;
    }
</style>

<div class="container justify-content-center" style="margin-top: 20px;">
    <h2>{{subject_class.subject.name}} (Grade: {{subject_class.class_level}})
        {% if subject_class_students.count > 0 %}
        <a href="{% url 'add_students_to_subject_class' subject_class.id %}" style="margin-left: 20px; text-decoration: none;">
            <i class="fa-solid fa-pen-to-square"></i> Edit students</a>
        <a href="{% url 'create_grade' subject_class.id %}" style="margin-left: 20px; text-decoration: none;">
            <i class="fa-solid fa-plus"></i> Add grades</a>
        <a href="{% url 'add_absence' subject_class.id %}" style="margin-left: 20px; text-decoration: none;">
            <i class="fa-solid fa-person-circle-question"></i> Add absence</a>
        {% endif %}

    </h2>


    <table class="table">
        <thead class="text-light bg-dark ">

            <tr>
                <th scope="col">Student number</th>
                <th scopre="col">Class level</th>
                <th scope="col">Name</th>
                <th scope="col">Grades winter term</th>
                <th scope="col">Grades summer term</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for student in subject_class_students %}
            <tr class="bg-light">
                <td>{{student.student_number}}</td>
                <td>{{student.class_level}}</td>
                <td>{{student.first_name}} {{student.last_name}}</td>
                <td>
                    {% for grade in all_grades %}
                    {% if grade.student == student and grade.term.name == 'winter' %}
                    <a class="grade grade-{{grade.number}}"
                        href="{% url 'update_grade' grade.id %}">{{grade.number}}</a>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {% for grade in all_grades %}
                    {% if grade.student == student and grade.term.name == 'summer' %}
                    <a class="grade grade-{{grade.number}}"
                        href="{% url 'update_grade' grade.id %}">{{grade.number}}</a>
                    {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning" data-toggle="modal"
                        data-target="#studentDetailModalCenter{{student.id}}">
                        <i class="fa-solid fa-circle-info"></i>
                        Details
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="studentDetailModalCenter{{student.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="studentDetailModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header bg-dark text-light">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{student.first_name}}
                                        {{student.last_name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p><strong><i class="fa-solid fa-user"></i> First name:</strong>
                                        {{student.first_name}}</p>
                                    <p><strong><i class="fa-solid fa-user"></i> Middle name:</strong>
                                        {{student.middle_name}}</p>
                                    <p><strong><i class="fa-solid fa-user"></i> Last name:</strong>
                                        {{student.last_name}}</p>
                                    <p><strong><i class="fa-solid fa-phone"></i> Phone number:</strong>
                                        {{student.phone}}</p>
                                    <p><strong><i class="fa-solid fa-envelope"></i> Email:</strong> {{student.email}}
                                    </p>
                                    <p><strong><i class="fa-solid fa-layer-group"></i> Class level:</strong>
                                        {{student.class_level}}</p>
                                    <p><strong><i class="fa-solid fa-graduation-cap"></i> Student number:</strong>
                                        {{student.student_number}}</p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-info" href="{% url 'update_student' student.id %}"><i
                                            class="fa-regular fa-pen-to-square"></i> Edit</a>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a class="btn btn-info" href=""><i class="fa-solid fa-pen-to-square"></i> Edit grades</a> -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}