{% extends 'accounts/main.html '%}

{% block content %}

<div class="container justify-content-center" style="margin-top: 20px;">
    <h2>Absences of {{student.first_name}} {{student.last_name}}</h2>
    {% if absences.count == 0 %}
    <h2>No absences to show</h2>
    {% else %}
    <table class="table">
        <thead class="text-light bg-dark ">
            <tr>
                <th scope="col">Absences (winter term)</th>
                <th scope="col">Absences (summer term)</th>
                <th scope="col">Absences (year)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-light">
                <td style="background-color: #1ac8ef;" scope="col">{{absences_winter.count}}</td>
                <td style="background-color: #F7C331;" scope="col">{{absences_summer.count}}</td>
                <td style="background-color: #f93c02;" scope="col">{{absences.count}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table">
        <thead class="text-light bg-dark ">
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Date</th>
                <th scope="col">Excused</th>
            </tr>
        </thead>
        <tbody>
            
            {% for absence in absences %}
            <tr class="bg-light">
                <td scope="col">{{absence.subject_class.subject.name}}</td>
                <td scope="col">{{absence.date}}</td>
                {% if absence.excused %}
                <td scope="col"><i class="fa-solid fa-check" style="color: green;"></i></td>
                {% else %}
                <td scope="col"><i class="fa-solid fa-xmark" style="color: red;"></i></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}