{% extends 'accounts/main.html '%}

{% block content %}

{% if has_child %}
<div class="row">
    <div class="card col-md-3" style="margin: auto; margin-top: 25px;">
        <div class="card-header bg-dark text-light text-center">
            <h5>Grades: {{grades_count}}</h5>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center container">
            <div class="d-flex justify-content-center form_container">
                {% if grades_count == 0 %}
                <p>No grades for the year<i class="fa-regular fa-face-frown-open"></i></p>
                {% else %}
                <canvas id="gradeChart" style="width:100%;max-width:800px"></canvas>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card col-md-3" style="margin: auto; margin-top: 25px;">
        <div class="card-header bg-dark text-light text-center">
            <h5>Winter Grades: {{grades_count_winter}}</h5>
            <h5>Winter Grade: {{average_grade_winter_term}}</h5>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center container">
            <div class="d-flex justify-content-center form_container">
                {% if grades_count_winter == 0 %}
                <p>No grades for winter term<i class="fa-regular fa-face-frown-open"></i></p>
                {% else %}
                <canvas id="gradeWinterChart" style="width:100%;max-width:800px"></canvas>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card col-md-3" style="margin: auto; margin-top: 25px;">
        <div class="card-header bg-dark text-light text-center">
            <h5>Winter Grades: {{grades_count_summer}}</h5>
            <h5>Summer Grade: {{average_grade_summer_term}}</h5>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center container">
            <div class="d-flex justify-content-center form_container">
                {% if grades_count_summer == 0 %}
                <p>No grades for summer term <i class="fa-regular fa-face-frown-open"></i></p>
                {% else %}
                <canvas id="gradeSummerChart" style="width:100%;max-width:800px"></canvas>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row ">
    <div class="card col-md-3" style="margin: auto; margin-top: 25px;">
        <div class="card-header bg-dark text-light text-center">
            <h5>Absences: {{absences}}</h5>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center container">
            <div class="d-flex justify-content-center form_container">
                {% if absences == 0 %}
                <p>No absences <i class="fa-regular fa-face-smile-beam"></i></p>
                {% else %}
                <canvas id="absenceChart" style="width:100%;max-width:800px"></canvas>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card col-md-3" style="margin: auto; margin-top: 25px;">
        <div class="card-header bg-dark text-light text-center">
            <h5>Remarks: {{remarks}}</h5>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center container">
            <div class="d-flex justify-content-center form_container">
                {% if remarks == 0 %}
                <p>No remarks <i class="fa-regular fa-face-smile-beam"></i></p>
                {% else %}
                <canvas id="remarkChart" style="width:100%;max-width:800px"></canvas>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card col-md-3" style="margin: auto; margin-top: 25px;">
        <div class="card-header bg-dark text-light text-center">
            <h5>Praises: {{praises}}</h5>
        </div>
        <div class="card-body d-flex justify-content-center align-items-center container">
            <div class="d-flex justify-content-center form_container">
                {% if praises == 0 %}
                <p>No praises <i class="fa-regular fa-face-smile-beam"></i></p>
                {% else %}
                <canvas id="praiseChart" style="width:100%;max-width:800px"></canvas>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% else %}

<h1>Until a teacher connects your account to your child's account you cannot see your child's data <i
        class="fa-solid fa-face-sad-tear"></i></h1>
{% endif %}

<script>
    colors = ['#FF3131', '#F7882F', '#F7C331', '#B8F731', '#45F731']

    if ("{{grades_count_winter}}" != 0) {
        xValues = ['Failure: 2', 'Passing: 3', 'Good: 4', 'Very good: 5', 'Excellent: 6']
        yValues = ["{{failure_grades_winter}}",
            "{{passing_grades_winter}}",
            "{{good_grades_winter}}",
            "{{very_good_grades_winter}}",
            "{{excellent_grades_winter}}"]

        new Chart(
            document.getElementById('gradeWinterChart'),
            {
                type: 'pie',
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: colors,
                        data: yValues
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Grades winter',
                    },
                    legend: { display: false },
                }
            });
    }

    if ("{{grades_count_summer}}" != 0) {
        xValues = ['Failure: 2', 'Passing: 3', 'Good: 4', 'Very good: 5', 'Excellent: 6']
        yValues = ["{{failure_grades_summer}}",
            "{{passing_grades_summer}}",
            "{{good_grades_summer}}",
            "{{very_good_grades_summer}}",
            "{{excellent_grades_summer}}"]

        new Chart(
            document.getElementById('gradeSummerChart'),
            {
                type: 'pie',
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: colors,
                        data: yValues
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Grades summer',
                    },
                    legend: { display: false },
                }
            });
    }

    colors = ['skyblue', '#F7C331']
    if ("{{grades_count}}" != 0) {
        xValues = ['Winter grades count', 'Summer grades count']
        yValues = ["{{grades_count_winter}}", "{{grades_count_summer}}"]

        new Chart(
            document.getElementById('gradeChart'),
            {
                type: 'pie',
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: colors,
                        data: yValues
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Grades summer',
                    },
                    legend: { display: false },
                }
            });
    }

    if ("{{absences}}" != 0) {
        xValues = ['Absences in winter', 'Absences in summer']
        yValues = ["{{absences_winter}}", "{{absences_summer}}"]
        new Chart(
            document.getElementById('absenceChart'),
            {
                type: 'pie',
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: colors,
                        data: yValues
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Absences',
                    },
                    legend: { display: false },
                }
            });
    }

    if ("{{remarks}}" != 0) {
        xValues = ['Remarks in winter', 'Remarks in summer']
        yValues = ["{{remarks_winter}}", "{{remarks_summer}}"]
        new Chart(
            document.getElementById('remarkChart'),
            {
                type: 'pie',
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: colors,
                        data: yValues
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Remarks',
                    },
                    legend: { display: false },
                }
            });
    }
    
    if ("{{praises}}" != 0) {
        xValues = ['Praises in winter', 'Praises in summer']
        yValues = ["{{praises_winter}}", "{{praises_summer}}"]
        new Chart(
            document.getElementById('praiseChart'),
            {
                type: 'pie',
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: colors,
                        data: yValues
                    }]
                },
                options: {
                    responsive: true,
                    title: {
                        display: false,
                        text: 'Praises',
                    },
                    legend: { display: false },
                }
            });
    }
</script>
{% endblock %}