<li class="nav-item">
    <a class="nav-link" href="{% url 'parent_account' %}"><i class="fa-solid fa-house-user"></i> Account</a>
</li>
{% if parent.child %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'parent_grades' %}"><i class="fa-solid fa-user-graduate"></i> Grades</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'parent_absences' %}""><i class="fa-solid fa-person-circle-question"></i> Absences</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'parent_remarks' %}""><i class="fa-solid fa-file-lines"></i> Remarks</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'parent_praises' %}"><i class="fa-solid fa-award"></i> Praises</a>
</li>
{% endif %}
