{% load static %}

<style>
  .hello-msg {
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="{% url 'home' %}"><img src="{% static 'images/schule_logo.png' %}" id="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="">Welcome, {{request.user.first_name}}</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"><i class="fa-solid fa-house"></i> Home</a>
      </li>
      {% endif %}

      {% for group in request.user.groups.all %}
        {% if group.name == 'teacher' %}
          {% include 'accounts/navbar_teacher.html' %}
        {% endif %}
        {% if group.name == 'student' %}
          {% include 'accounts/navbar_student.html' %}
        {% endif %}
        {% if group.name == 'parent' %}
          {% include 'accounts/navbar_parent.html' %}
        {% endif %}
      {% endfor %}
    </ul>

    <ul class="navbar-nav" >
      {% if request.user.is_authenticated %}
      <li>
      <a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</a>
      </li>
      {% else %}
      <li>
        <a class="nav-link" href="{% url 'register' %}"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'login' %}"><i class="fa-solid fa-house-chimney-user"></i> Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>