<li class="nav-item">
    <a class="nav-link" href="{% url 'students' %}"><i class="fa-solid fa-user-graduate"></i> Students</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'parents' %}"><i class="fa-solid fa-user-large"></i> Parents</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'teacher_subjects' %}"><i class="fa-solid fa-chalkboard-user"></i> Subjects</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'teacher_absences' %}""><i class="fa-solid fa-person-circle-question"></i> Absences</a>
</li>
<li class="nav-item">
    <a class="nav-link" href=""><i class="fa-solid fa-file-lines"></i> Remarks</a>
</li>
<li class="nav-item">
    <a class="nav-link" href=""><i class="fa-solid fa-award"></i> Praises</a>
</li>