{% extends 'accounts/main.html '%}

{% block content %}

<div class="container justify-content-center" style="margin-top: 20px;">
    <h2>All praises of {{student.first_name}} {{student.last_name}}</h2>
    {% if praises.count == 0 %}
    <h2>No praises to show</h2>
    {% else %}
    <table class="table">
        <thead class="text-light bg-dark ">
            <tr>
                <th scope="col">Teacher name</th>
                <th scope="col">Content</th>
                <th scope="col">Term</th>
            </tr>
        </thead>
        <tbody>

            {% for praise in praises %}
            <tr class="bg-light">
                <td scope="col">{{praise.teacher.first_name}} {{praise.teacher.last_name}}</td>
                <td scope="col">{{praise.content}}</td>
                <td scope="col">{{praise.term}}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}